@import url("https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker");

body {
    background-image: url("../images/monkees.jpg");
    background-size: cover;
    background-attachment: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-x: hidden;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}


a:hover {
    text-decoration: none;
}

h1 {
    Font-Family: 'Permanent Marker', Cursive;
    color: #fff;
    font-size: 56px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

h4 {
    Font-Family: 'Permanent Marker', Cursive;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}


/* ....................................Nav Colours */

.heading-colours-home {
    background: #6E933F;
}

.heading-colours-theguys {
    background: #C53329;
}

.heading-colours-themusic {
    background: #60140F;
}

.heading-colours-book {
    background: #EEA940;

}


/*......................................... Navigation   */

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 100;
    padding: 20px;

}

#nav {
    margin: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 3px solid #1A1A1A;

}

#nav li {
    padding: 0;
}

.menu-item {
    height: 30px;
    text-align: center;

}

.menu-item:hover {
    background-color: #1A1A1A;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    Font-Family: 'Permanent Marker', Cursive;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
}

.menu-item li a {
    list-style: none;
}

/*.................................................Home Page*/

#cardsHome {
    margin-bottom: 50px;
}

.page_title {
    margin-top: 150px;
    text-align: center;
}

.home_card {
    background-color: #6E933F;
    margin: 30px auto;
    display: block;
    padding: 20px;
    color: #fff;
    border: none;
}

.home_heading,
.book_us_title {
    position: relative;
    top: 180px;
    left: 30px;
}

.book_btn {
    padding: 10px;
    color: #000;
    background: #fff;
    Font-Family: 'Permanent Marker', Cursive;
    font-size: 24px;
    border-radius: 10%;
    margin-top: 30px;
}

.book_btn:hover {
    color: #fff;
    background: #1A1A1A;
}


.album {
    height: 300px;
}

#photos {
    background: #6E933F;
    border: none;
    padding-top: 50px;

}

.music_image {
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;

}

.gallery_title {
    text-align: center;
}



/* ................................................The Guys */

.member-info {
    border: 3px solid #000;
    background-color: plum;
    height: 300px;
    width: 300px;
    margin: 10px;
    background-image: contain;
}

.image-member {
    padding: 0;
    margin: 10px;
    height: 300px;
    width: 390px;
}

.band_card {
    background-color: #C53329;
    display: block;
    margin: 40px auto;
    padding: 20px;
    color: #fff;
    border: none;
}

.band_card p a {
    Font-Family: 'Permanent Marker', Cursive;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.band_card p a:hover {
    color: #EEA940;
}


.band_card a>img,
.band_card>img {

    position: relative;
    top: 10px;
}

.band_text {
    padding-top: 30px;
}

/*.....................................The Music*/

.music_card {
    background: #60140F;
    color: #fff;
    margin: 20px auto 40px;
    display: block;
    padding: 20px;
    border: none;
}

.audio {
    width: 200px;
    height: 40px;
}


/* ...............................................Book Page */

.formgroup {
    padding-bottom: 15px;
    width: 100%;
    margin: 0 auto;
}

.formcontrol {
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #000;
}

.formButton {
    background: #C53329;
    color: #fff;
    border: none;

}

#contactUs {
    background: #EEA940;
    color: #fff;
    display: block;
    padding: 20px;
    margin: 20px auto 50px;
}

#contactUs p {
    padding: 15px 50px;
}

input[type="date"] {
    color: #767676;
}


/* .........................................Footer */

footer {
    background-color: #1A1A1A;
    width: 100%;
    padding: 20px 0;
    /*position: fixed;*/
    /*bottom: 0;*/
    z-index: 2;
    height: auto;
    text-align: center;
    color: #fff;
}


/*Email */

.email {
    padding: 8px;
}

.sign_up_btn {

    padding: 8px 10px 10px 10px;
    margin: 0;
    border-left: none;
    color: #fff;
    background: #6E933F;
    position: relative;
    right: 4px;
    font-family: 'Permanent Marker', Cursive;
}

.sign_up_btn:hover {
    background: #1A1A1A;
}


/*Social  Media */

.socials {
    padding: 0;
    margin-top: 30px;
}

.socials li {
    list-style: none;
    display: inline-block;
    padding-right: 6px;
}


.socials li a {

    width: 35px;
    height: 35px;
    background-color: #fff;
    text-align: center;
    font-size: 22px;
    margin: 0;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
}

.socials li a .fa {
    position: relative;
    color: #262626;
    transition: .5s;
}

.socials li a:hover .fa {
    transform: rotateY(360deg);
    color: #6E933F;
}

/*................................................ Media Queries */

@media (min-width: 576px) {


    .footer_text {
        margin: 35px 0 0 0;
        color: #fff;
    }
    .music_card {
        padding: 20px;
        color: #fff;
        margin: 30px auto;
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }

    #video {
        width: 350px;
        margin-top: 30px;
    }
}

@media (min-width: 767px) {


    #cardsHome {
        margin: 50px 15px 50px 15px;
    }

    #photos {
        margin: 50px 15px 200px 15px;
    }

    .page_title {
        margin-top: 120px;
        margin-left: 30px;
        text-align: left;
    }
    
    .gallery_title {
        text-align: left;
        margin-left: 30px;
    }

    .music_card {
        background: #60140F;
        display: block;
        padding: 20px;
        color: #fff;
        margin: 0px auto 100px;
        border-radius: 50%;
        width: 450px;
        height: 450px;
    }

    .audio {
        height: 25px;
    }
    .home_card {
        display: block;
        padding: 20px;
        border-radius: 50%;
        width: 400px;
        height: 400px;
    }

    .band_card {
        padding: 20px;
        margin: 0 auto 40px;
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }

    .band_text {
        padding: 20px 60px;
    }

    #cardsMusic {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #contactUs {
        display: block;
        padding: 20px;
        color: #fff;
        margin: 0 auto 300px;
        border-radius: 50%;
        width: 600px;
        height: 600px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
    }
}

@media (min-width: 992px) {
    .page_title {
        margin-top: 80px;
        margin-left: 30px;
    }

    .cardMembers {
        margin-bottom: 40px;
    }
}

@media (min-width: 1600px) {

    #cardsMusic {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .music_card {
        width: 650px;
        height: 650px;
        border-radius: 50%;
    }

    #video {
        width: 450px;
        margin-top: 50px;
    }

    .audio {
        width: 450px;
        margin-top: 25px;
    }

    #contactUs {
        height: 750px;
        width: 750px;
    }

}
